<div class="container">
	<div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form>
                <input name="user" type="text" placeholder="username" ng-model="registerCtrl.user.name">
                <input type="password" placeholder="password" ng-model="registerCtrl.user.password">
                <a class="btn btn-info btn-block login" ng-click="registerCtrl.register()">Sign up</a>
            </form>
        </div>
    </div>
</div>